<?xml version="1.0"?>
<configuration>
   <appSettings>
    <!---Sql Server 数据库配置-->
    <add key="SqlServerConnectString" value="FE9v0RMJOo7IzoKn5sTD5g8Fuvy+05eg/LDwHBrTPZNizPZBfeyYlXYJCgIL8FDRASLw0wanoAuEsH53viHuheEXCPHeTtUmSViIPdm0K4WKc/lQri0tyJrVH0sGkYOOADJfHRES6BHjf0TZdj+jKuQiTl7lCbL1epd+fJU3JFw+2g+xBnivarg22JAwb7XH7ynwfUKOJflzXNbADZYMH3PBldT1p+OQYN3Rj5EvIAYW1SIISlo9O6RTj334ioWY/q9Uz/q8Zr48cAmIHgqbl66hO/cVAa4+f/vQtz1D93t6YffuT5cc5SwTO0Ac/zG2CN5uxyee201vS0qUA2sqSapysqpBfXX7TZch3x0PEzs="/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
