<?xml version="1.0"?>
<configuration>
   <appSettings>
    <!---Sql Server 数据库配置-->
     <add key="SqlServerConnectString" value="FE9v0RMJOo7IzoKn5sTD5qSbpY9adcqVYNz0giRuJkX/DVg5mHI6ISOqeeP1cQHUumavPtRUM7eOuzJMuAn4DypJDHJ4cFOwIzYET8E9rU5/o+iNecIykGDn6MzCmCycfwtYYr4uWy1j0BDVlZN9oveL1rN9b5MmkrSxs8KQQxglfu3/uQUkD1Q50qyFabbgl3DsY8iVtvEr3SMo0+kCfh/UkSmEyG0VeXfgJ6UJGbcQKPIL7rakEwdkMSsiNrWTFN0Dj8Ilm7JCMbLpjX3M/8lUq5AsCZx1NT3PZ4GNGPeHseW3+8wRQ2GviBXZ+9DF4oSu1T2Z8BCBKdtQeQXlaFH1K+9jtALiYPlT0PV+w0M=" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
